.chart {
    padding: 18px;
    border-radius: 10px;
    background-color: #ADEFD1FF;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 200px;
    margin-bottom: 50px;
}

