.new-expense__controls{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    font-size: 20px;
}

.new-expense__control{
    padding: 20px;
    width: 40%;
    
}

.new-expense__control label{
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
}

.new-expense__control input{
    outline: none;
    border: none;
    padding: 15px;
    width: 100%;
    font-size: 20px;
}

.new-expense__actions{
    padding: 25px;
    text-align: right;
}

.new-expense__actions button{
    font-size: 20px;
    font-weight: 600;
    padding: 20px 30px;
    background-color: #00203FFF;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}